{{- define "portable-image" -}}
  {{- $isRemote := or (in .Destination "://") (strings.HasPrefix .Destination "//") -}}
  {{- $destination := .Destination | safeURL -}}
  
  {{- if not $isRemote -}}
    {{- /* 简单处理：将所有相对路径转换为从站点根目录开始的路径 */ -}}
    {{- if not (strings.HasPrefix .Destination "/") -}}
      {{- $pageDir := path.Dir .Page.File.Path -}}
      {{- $destination = path.Join $pageDir .Destination -}}
      {{- $destination = strings.TrimPrefix "content/" $destination -}}
      {{- $destination = print "/" $destination -}}
    {{- end -}}
  {{- end -}}
  
  <img src="{{ $destination }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }}/>
{{- end -}}