{{- if .Page.Site.Params.BookPortableLinks -}}
  {{- template "portable-image" . -}}
{{- else -}}
  {{- template "portable-image" . -}}
{{- end -}}

{{- define "portable-image" -}}
  {{- $u := urls.Parse .Destination -}}
  {{- $src := $u.String -}}
  
  {{- if not $u.IsAbs -}}
    {{- $path := strings.TrimPrefix "./" $u.Path -}}
    {{- /* 尝试从页面资源或全局资源中获取图片 */ -}}
    {{- with or (.Page.Resources.Get $path) (resources.Get $path) -}}
      {{- $src = .RelPermalink -}}
      {{- with $u.RawQuery -}}
        {{- $src = printf "%s?%s" $src . -}}
      {{- end -}}
      {{- with $u.Fragment -}}
        {{- $src = printf "%s#%s" $src . -}}
      {{- end -}}
    {{- else -}}
      {{- /* 处理非index.md页面的相对路径 */ -}}
      {{- if and (not (hasPrefix $u.Path "/")) (ne .Page.File.LogicalName "index.md") -}}
        {{- $src = printf "../%s" $path -}}
      {{- else -}}
        {{- $src = $path -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- /* 创建属性并添加懒加载 */ -}}
  {{- $attributes := dict "alt" .Text "src" $src "loading" "lazy" -}}
  {{- with .Title -}}
    {{- $attributes = merge $attributes (dict "title" (. | transform.HTMLEscape)) -}}
  {{- end -}}
  
  <img
    {{- range $k, $v := $attributes -}}
      {{- if $v -}}
        {{- printf " %s=%q" $k $v | safeHTMLAttr -}}
      {{- end -}}
    {{- end -}}>
{{- end -}}